body {
  padding: 0;
  margin: 0
}

/* Utility classes */
.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100vw;
}

.wh-100 {
  height: 100vh;
  width: 100vw;
}

/* Multiple background images */
.multiple-bg {
  background-image: url(http://findicons.com/files/icons/861/tweet_my_web/128/flying_bird.png), url(https://i.imgur.com/FlpE77g.png), url(https://www.nasa.gov/sites/default/files/usdamoscow.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 0%, 100% 100%, center;
  background-size: auto, auto, cover;
}

/* Clip art background */
#clipped-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/3379934/pexels-photo-3379934.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#clipped-title h1 {
  font-size: 300px;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}