section {
  max-width: 800px;
  margin: auto auto 2.5rem auto;
  position: relative;
  text-align: center;
}

.header {
  justify-content: center;
}

.section-title {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 10%;
  top: 20%;
  border margin: auto;
}

.section-desc {
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  background-color: #292929;
  text-align: left;
  font-weight: 300;
  color: #ddd;
}

.photo-credit {
  position: relative;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #bbb;
}

/* BACKGROUNDS */
/* multiple background images */
.multiple-bg {
  /* max-width: 800px; */
  height: 400px;
  margin: auto;
  border-radius: 2px 2px 0 0;
  background-image:
    url(../images/692.png),
    url(../images/cy-burst.png),
    url(../images/3906140.jpg);
  background-repeat: no-repeat;
  background-position: 47.5% 85%, 47% 100%, center;
  background-size: 150px, 140px, cover;
}

/* clip art background */
.clipped-title {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/3906140.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #bbb;
}

.clipped-title h1 {
  font-size: 6rem;
  text-align: center;
  /* text-shadow: 0 0 2px rgba(224, 45, 45, 0.5); */
  margin: 0;
  padding: 0;
}

/* gradient background */
.linear-gradient-bg {
  height: 400px;
  background-image: linear-gradient(45deg, #cc7620 40%, #a83a3a 50%, #143e5d 40%);
  /* background-image: repeating-linear-gradient(45deg, yellow, yellow 10px, red 10px, red 20px); */
}

.radial-gradient-bg {
  height: 400px;
  background-image: radial-gradient(circle closest-corner at 35%, #cc7620 40%, #143e5d 4%);
}

.radial-gradient-bg-spiral {
  height: 400px;
  background-image: repeating-radial-gradient(circle at 80% 20%, #eee, #ccc 30px);
}

.conic-gradient-bg {
  height: 400px;
  background-image: conic-gradient(from 130deg, #cc7620, #red);
  /* background: conic-gradient(red, orange, yellow, green, blue, indigo, violet);
  background: conic-gradient(black 0 33%, yellow 0 66%, red 0 99%); */
}