.header {
  justify-content: center;
}

/* Grid container */
.grid-container {
  max-width: 800px;
  height: 250px;
  padding: 0 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "jumbo jumbo top-right"
    "jumbo jumbo bottom-right";
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .grid-container {
    height: 400px;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #eee;
  font-size: 5rem;
  font-weight: bold;
  color: #ccc;
  transition: 0.3s;
  cursor: pointer;
}

.grid-item:first-of-type {
  grid-area: jumbo;
}

.grid-item:nth-of-type(2) {
  grid-area: top-right;
}

.grid-item:last-of-type {
  grid-area: bottom-right;
}