/* I didn't use master.css to responsive-navbar.html
on purpose, I intend create an entirely different
scope for the navbar */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
:root {
  /* --width-25: 25%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.15;
  font-family: sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.header {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #15324a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: #15324a;
  background-color: #eee;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
}

.nav-item {
  padding: 0;
  display: inline;
}

.nav-link {
  /* padding: 0 0.5rem; */
  padding: 0.25rem 0.5rem;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

/* Utility classes */
.text-white {
  color: #fff;
}

/* Section components */
.section-title {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 5%;
  top: 20%;
}

.section-desc {
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  background-color: #292929;
  text-align: left;
  font-weight: 300;
  color: #ddd;
}

.photo-credit {
  position: relative;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #bbb;
}

/* Play focus section */
.play-focus {
  padding: 0 0.5rem;
  text-align: center;
}

.focus-components {
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 576px) {
  .focus-components {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .focus-components {
    grid-template-columns: repeat(4, 1fr);
  }
}

.focus-link {
  height: 200px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #285880;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px #78baf2;
  overflow: hidden;
  background-color: #285880;
  font-size: 16px;
  opacity: 0.95;
  transition: 0.3s;
}

.focus-link:hover {
  box-shadow: -0 2px 5px 2px #78baf2;
  opacity: 1;
  transform: scale(1.05);
}

.focus-badge {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 3px #50a7f0;
  transition: 0.3s;
}

.focus-link:hover .focus-badge {
  box-shadow: 0 -3px 8px #78baf2;
}

.background {
  background-image: repeating-radial-gradient(
    circle at 80% 20%,
    #4c6d88 10px,
    #285880 25px
  );
}

.grid-showoff {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.25rem;
}

.grid-showoff div {
  border-radius: 4px;
  background-color: #497eab;
}

.animation .anime-object-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #497eab;
  position: absolute;
  animation: anime-1 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0, 1.31, 0.67, 0.26);
}

@keyframes anime-1 {
  0% {
    top: 0%;
  }

  100% {
    top: 60%;
    box-shadow: 0 5px 2px #000;
  }
}

.animation .anime-object-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #497eab;
  position: absolute;
  left: 10%;
  animation: anime-2 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.6, 1.31, 0.67, 0.26);
}

@keyframes anime-2 {
  0% {
    top: 0%;
    left: 10%;
    box-shadow: 0 -5px 2px #000;
  }

  100% {
    top: 60%;
    left: 10%;
    box-shadow: 0 5px 2px #000;
    transform: perspective(100px) rotateY(25deg);
  }
}

.typography p {
  margin: 0;
  font-family: serif;
  font-size: 6rem;
  font-weight: bold;
  color: #497eab;
}
