html {
  --primary: #e0e5ec;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--primary);
}

.phone-outter {
  width: 253.60629921px;
  height: 522.70866142px;
  border-radius: 24px;
  box-shadow: -4px -4px 8px 0 rgb(255, 255, 255), 4px 4px 6px 0 rgba(0, 0, 0, 0.301);
}

.num-btn {
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  box-shadow: -2px -2px 4px 0 rgb(255, 255, 255), 2px 2px 4px 0 rgba(0, 0, 0, 0.301);
  border-radius: 50%;
  font-weight: normal;
  font-size: 20px;
  color: rgb(145, 145, 145);
  transition: 0.3s;
}

.num-btn:hover {
  box-shadow: inset -1px -1px 1px 0 rgba(209, 209, 209, 0.795),
    inset 1px -1px 1px 0 rgba(209, 209, 209, 0.795), inset -1px 1px 1px 0 rgba(209, 209, 209, 0.795),
    inset 1px 1px 1px 0 rgba(209, 209, 209, 0.795);
  color: dodgerblue;
}

.num-btn:active {
  box-shadow: inset -6px -6px 4px 0 rgb(255, 255, 255), inset 4px 4px 4px 0 rgba(0, 0, 0, 0.301) !important;
  color: dodgerblue;
  font-size: 18px;
}

.num-btn:focus {
  box-shadow: inset -2px -2px 4px 0 rgb(255, 255, 255), inset 2px 2px 4px 0 rgba(0, 0, 0, 0.301),
    inset 2px 2px 4px 0 rgb(255, 255, 255), inset -2px -2px 4px 0 rgba(0, 0, 0, 0.301);
}

.fs-sm {
  font-size: 14px;
}

#indicator span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
